In [10]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
sales_data_project = pd.read_csv('store_v2.csv')
X = sales_data_project.drop(columns=['profitable'])
Y = sales_data_project['profitable']
model = DecisionTreeClassifier() 
model.fit(X, Y)
predictions = model.predict([ [100,5000],[3500, 600]  ])

     population  amount $ '000  profitable
0          2577        2183.52        True
1          1200        1654.74       False
2          2769        2661.42       False
3          3162        2199.12        True
4          2707        2083.62        True
..          ...            ...         ...
995        2576        1493.97       False
996        2714        1484.64       False
997        2828        1539.30       False
998        2681        2399.52        True
999        4034        1041.12        True

[1000 rows x 3 columns]