In [6]:
import pandas as pd
sales_data_project = pd.read_csv('store_v2.csv')
sales_data_project.describe()

        population  amount $ '000
count  1000.000000    1000.000000
mean   2520.915000    2120.448916
std     747.502021    1587.054314
min   -2460.000000   -7321.080000
25%    2440.000000    1505.370000
50%    2709.500000    1762.455000
75%    2836.000000    2227.920000
max    6563.000000   18814.920000